Интелектуальный шлагбаум:
- Когда кто-либо подъезжает на машине, то интелектуальный шлагбаум делает фото машины с номером и отправляет в соответствующий сервис "Интеллектуальный шлагбаум" на детекцию и распознование.
- Канал по которому происходит передача фото шифруется для защиты от атаки MITM.
- Интеллектуальный шлагбаум распознает номер машины и делает запрос на наличие в БД соответствующего номера.
- При наличие этого номера, Интеллектуальный шлагбаум отправляет ответ об разрешении доступа и шлагбаум открывается.

Интелектуальный домофон:
- Когда кто-либо нажимает на кнопку домофона с конкретной квартирой и входом по биометрии, то интелектуальный домофона делает фото лица и отправляет в соответствующий сервис "Интеллектуальный домофон" на распознование.
- Канал по которому происходит передача фото шифруется для защиты от атаки MITM.
- Интелектуальный домофон распознает фотографию (векторизует ее) и ищет максимально похожее лицо по близости векторов. Если нашелся достаточно близкий объект, то домофон открывает дверь.
- Если интелектуальный домофон не нашел совпадение, то собственник жилья получает уведомление в приложении/запрос на пропуск по лицу - и пользователь добавляет лицо для последующего пропуска в БД.

Требований по безопасности данных:
- Фотографии, распозннанные номера хранятся в зашифрованном формате в отдельных БД отдельно для каждого сервиса.
- Обмен сообщениям между внешними системами и сервисами происходит с использованием безопасных протоколов FTPS, TLS, AES.
- Добавлять номера машин могут только авторизованные собственники жилья и доступ на проезд по номеру машин привязываются только к определенным домам, которым владеет собственник. Тоже самое происходит и для интелектуального домофона. Разграничение доступа происходит на основе ABAC.
- Собственник может отзывать разрешения на вход по номеру машины и биометрии.
- Авторизация и аутентификация пользователей происходит по протоколу SAML в рамках SSO.